body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Very light grey background */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #dcdcdc; /* Slightly darker grey box */
    border-radius: 3px;
	padding: 2px 12px;
	transform:skewX(-7deg);
}

.content {
    text-align: center;
	color: #b4b4b4;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif; /* Google Font: Roboto */
    font-size: 2.7em;
    font-weight: 700;
    line-height: 0 !important;
	letter-spacing: -3.8px;
}